@model IEnumerable<BootApp.Models.AuthorModel>
@using BootApp.Helpers
@{
    ViewBag.Title = "basic";
}
<h2>Authors</h2>
<p>@Html.ActionLink("Create New", "Create")</p>
<table class="table table-hover">
       <thead>
<tr>
    <th>@Html.DisplayNameFor(model => model.FirstName)</th>
    <th>@Html.DisplayNameFor(model => model.LastName)</th>
    <th>Actions</th>
</tr>
</thead>
    <tbody data-bind="foreach: authors">
        <tr>
            <td data-bind="text: FirstName"></td>
            <td data-bind="text: LastName"></td>
            <td>
                <a data-bind="attr: { href: '@Url.Action("Details")/' + Id }"
                class="btn btn-info">Details</a>
                <a data-bind="attr: { href: '@Url.Action("Edit")/' + Id }"
                   class="btn btn-primary">Edit</a>
                <a data-bind="attr: { href: '@Url.Action("Delete")/' + Id }"
            class="btn btn-danger">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
 
@section Scripts {
    <script>
        function ViewModel(authors) {
            console.log(authors);
            var self = this;
            self.authors = authors;
        };
        var viewModel = new ViewModel(@Html.HtmlConvertToJson(Model));
        ko.applyBindings(viewModel);

        /*
        function ViewModel(firstName, lastName) {
            var self = this;
            self.name = firstName + ' ' + lastName;
            self.getName = function () {
                return self.name;
            };
        };

        
        */
    </script>
}